<launch>   
    <node name="ntrip_node" pkg="ntrip" type="ntrip_node" output="screen">
        <param name="ip" type="string"  value="rtk2go.com" />  <!-- Change to the IP address of Your NTRIP service-->
        <param name="port" type="int" value="2101" />  <!-- Change to your port number for WGS84 -->
        <param name="user" type="string" value="test@gmail.com" /> <!-- Change to your username -->
        <param name="passwd" type = "string" value="none" /> <!-- Change to your password -->
        <param name="mountpoint" type = "string" value="NEAR-Swiss" /> <!-- Change to your mountpoint -->
        <param name="report_interval" type = "int" value="10" /> <!-- the report interval to the NTRIP Caster, default is 1 sec -->
    </node>
</launch>

